{{ $email := . }}
{{ $action := printf "https://formspree.io/%s.tld" $email }}
<section class="section narrow">
    <div class="subscription-container">
        <div class="subscription-content">
            <h3 class="subscription-heading">
                Join our email list and get notified about new content
            </h3>
            <p class="subscription-text">
                Be the first to receive our latest content with the ability to
                opt-out at anytime. We promise to not spam your inbox or share your
                email with any third parties.
            </p>
            <form class="subscription-form" action="{{ $action | safeHTMLAttr }}" method="POST">
                <input
                  class="subscription-input"
                  placeholder="your@email.com"
                  name="email"
                  type="email"
                />
                <button
                  class="submit-button"
                  type="submit"
                >
                    Subscribe
                </button>
            </form>
        </div>
    </div>
</section>