<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ if ne .Params.robotsdisallow false }}<meta name="robots" content="noindex, nofollow, noarchive">{{ end }}
    {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    <link rel="icon" href="/images/favicon.svg">
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "{{- .Site.BaseURL -}}",
        "logo": "{{- .Site.BaseURL -}}/images/favicon.svg"
      }
      </script>
      


  {{ $styles := resources.Get "css/output.css" | resources.Minify | resources.Fingerprint }}
	<link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 
    {{ partial "seo/print.html" . }}
    {{ with .Params.forestry_instant_preview_id }}
      {{- safeHTML (printf "<meta property='forestry_instant_preview_id' content='%s'>" .) -}}
    {{ end -}}
{{ if or .Page.Params.math .Site.Params.math }}
{{ partial "math.html" . }}
{{ end }}

{{ partial "gtag.html" . }}

<!-- TEMPorary -->
</head>
