{{ define "main" }}
{{ $article := . }}
<section class="w-full mx-auto">

  {{ partial "article/hero.html" . }}

  {{ partial "article/progress" . }}

  <!--{{ if .Params.TOC }}
    <aside class="TOC">
    <h4>Daftar Isi</h4>
    {{ .TableOfContents }}
    {{ end }}
    </aside>-->

  <article id="articleContent" class="prose prose-neutral	 prose-lg md:w-1/2 mx-auto dark:prose-invert">
    <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "BlogPosting",
              "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "{{ .Permalink }}"
              },
              "author": {
                "@type": "Person",
                {{- with $article.Params.authors -}}
                {{ $name := . }}
                "name": "{{ strings.TrimPrefix "[" (index $name 0)  }}"
                {{- end -}}
              },
              "headline": "{{ $article.Title }}",
              {{- with $article.Params.hero -}}
              {{- $images := . -}}
              {{- with $article.Site.GetPage "section" "upload" -}}
              {{- with .Resources.GetMatch (strings.TrimPrefix "/upload/" (index $images 0)) -}}                      
               "image": {
                "@type": "ImageObject","url": "{{ .Permalink }}",
                "height": 768,
                "width": 1366},
              {{- end -}}
              {{- end -}}
              {{- end -}}
              "datePublished": "{{ $article.Date.Format "2006-01-02" }}",
            }
            </script>
    {{ .Content }}

    <!--Tag widget-->
    <p>
      <i class="bi bi-tags"></i>
      {{- with .Params.tags -}}
      {{- range . -}}
      <a class="rounded bg-gray-200 dark:bg-gray-200 dark:text-gray-800 mx-2 px-3 text-xs py-1 no-underline" title="{{ . }}" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{- end -}}
      {{- end -}}
    </p>
  </article>
  {{ partial "breadcrumb.html" . }}
  <!-- {{ partial "iklan.html" . }} -->
  {{ partial "disqus.html" . }}
  {{ partial "article/next.html" . }}
</section>
{{ $script := resources.Get "js/progressBar.js" }}
{{ $minjs := $script | resources.Minify }}
<script inline async src="{{ $minjs.RelPermalink }}"></script>

{{ end }}