a{
  -webkit-transition: var(--color-mode-transition);
  -o-transition: var(--color-mode-transition);
  transition: var(--color-mode-transition);
  color: var(--accent);
}

a:visited {
  color: var(--accent);
  opacity: 0.85;
}

a:hover,
a:focus {
  text-decoration: underline;
}