/****************************************HEADER****************************************/

.subheading-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
  
    /*DESKTOP*/
    @media screen and (max-width: $desktop){
      margin-bottom: 80px;
    }
  
    /*TABLET*/
    @media screen and (max-width: $tablet){
      margin-bottom: 60px;
    }
  
    /*PHABLET*/
    @media screen and (max-width: $phablet){
      display: none;
    }
}

.grid-controls-container{
    display: flex;
    align-items: center;
  
    /*TABLET*/
    @media screen and (max-width: $tablet){
      display: none;
    }
}

.heading-container{
    margin: 100px 0;

    /*DESKTOP*/
    @media screen and (max-width: $desktop){
      width: 80%;
    }
  
    /*TABLET*/
    @media screen and (max-width: $tablet){
      width: 100%;
    }
}

.hero-heading{
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 1.15;
    color: var(--primary);
    margin: 0;
  
    /*DESKTOP*/
    @media screen and (max-width: $desktop){
      font-size: 38px
    }
  
    /*PHABLET*/
    @media screen and (max-width: $phablet){
      font-size: 32px;
    }
}

.grid-button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: transparent;
    transition: background 0.25s;
  
    &:not(:last-child) {
      margin-right: 30px;
    }
  
    &:hover {
      background: var(--hover);
    }
  
    &[data-a11y="true"]:focus::after {
      content: "";
      position: absolute;
      left: -10%;
      top: -10%;
      width: 120%;
      height: 120%;
      border: 2px solid var(--accent);
      background: rgba(255, 255, 255, 0.01);
      border-radius: 50%;
    }
  
    svg {
      transition: opacity 0.2s;
  
      path {
        fill: var(--primary);
      }
    }
}

/****************************************LIST****************************************/

/*LIMIT TO TWO LINES*/
.limit-to-two-lines, .articles-title, .article-excerpt{
    text-overflow: ellipsis;
    overflow-wrap: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: normal;
    overflow: hidden;
  
    /*PHABLET*/
    @media screen and (max-width: $phablet){
      -webkit-line-clamp: 3;
    }
}

/*SHOW DETAILS*/
.show-details{
    p {
        display: -webkit-box;
      }
    
    h2 {
      margin-bottom: 10px;
    }
}

.articles-list-container{
    transition: opacity 0.25s;
}

/*LIST TITLE*/
.list-title{
    position: relative;
    display: grid;
    grid-template-columns:
      '457px 1fr';
    grid-template-rows: 2;
    column-gap: 30px;
  
    &:not(:last-child) {
      margin-bottom: 75px;
    }
  
    /*DESKTOP MEDIUM*/
    @media screen and (max-width: $desktop_medium){
      grid-template-columns: 1fr 1fr;
    }
  
    /*TABLET*/
    @media screen and (max-width: $tablet){
      grid-template-columns: 1fr;
      
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
}

.list-title-alt{
    grid-template-columns:
      '457px 1fr';
}

.list-item-row{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 488px;
    grid-column-gap: 96px;
    grid-template-rows: 1;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
  
    /*DESKTOP*/
    @media screen and (max-width: $desktop){
      grid-column-gap: 24px;
      grid-template-columns: 1fr 380px;
    }
  
    /*TABLET*/
    @media screen and (max-width: $tablet){
      grid-template-columns: 1fr;
    }

    @media (max-width: 540px) {
      background: var(--card);
    }
  
    /*PHABLET*/
    @media screen and (max-width: $phablet){
      box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
}

.list-item-tile{
    position: relative;

    /*TABLET*/
    @media screen and (max-width: $tablet){
      margin-bottom: 60px;
    }
  
    @media (max-width: 540px) {
      background: var(--card);
    }
  
    /*PHABLET*/
    @media screen and (max-width: $phablet){
      margin-bottom: 40px;
      box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
}

.list-row{
    display: grid;
    grid-template-rows: "1fr 1fr";
}

.list-row-alt{
    grid-template-rows: "1fr";
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 280px;
    box-shadow: 0 30px 60px -10px rgba(0, 0, 0, 0.22),
      0 18px 36px -18px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
    transition: transform 0.3s var(--ease-out-quad),
      box-shadow 0.3s var(--ease-out-quad);
  
    & > div {
      height: 100%;
    }
  
    /*TABLET*/
    @media screen and (max-width: $tablet){
      height: 200px;
      margin-bottom: 35px;
    }
  
    /*PHABLET*/
    @media screen and (max-width: $phablet){
      overflow: hidden;
      margin-bottom: 0;
      box-shadow: none;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }
}

.article-image{
    flex-shrink: 0;
    max-width: 100%;
    min-height: 100%;
}

.article-title{
    font-size: 21px;
    font-family: var(--serif);
    margin-bottom: 35px;
    transition: color 0.3s ease-in-out;
  
    /*DESKTOP*/
    @media screen and (max-width: $desktop){
      margin-bottom: 15px;
    }
  
    /*TABLET*/
    @media screen and (max-width: $tablet){
      font-size: 24px;  
    }
  
    /*PHABLET*/
    @media screen and (max-width: $phablet){
      font-size: 22px;  
      padding: 30px 20px 0;
      margin-bottom: 10px;
      -webkit-line-clamp: 3;
    }
}

.article-excerpt{
    font-size: 16px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    color: var(--grey);
    display: none;
  
    /*DESKTOP*/
    @media screen and (max-width: $desktop){
      display: -webkit-box;
    }
  
    /*PHABLET*/
    @media screem and (max-width: $phablet){
      margin-bottom: 15px;
      max-width: 100%;
      padding:  0 20px;
      margin-bottom: 20px;
      -webkit-line-clamp: 3;
    }
}

.article-metadata{
    font-weight: 600;
    font-size: 16px;
    color: var(--grey);
    opacity: 0.33;
  
    /*PHABLET*/
    @media screen and (max-width: $phablet){
      max-width: 100%;
      padding:  0 20px 30px;
    }
}

.post-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
}

.article-link{
    max-width: 48.5%;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    z-index: 1;
    transition: transform 0.33s var(--ease-out-quart);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  
    &:hover{
        text-decoration: none;
    }

    &:hover .image-container, &:focus .image-container {
      transform: translateY(-1px);
      box-shadow: 0 50px 80px -20px rgba(0, 0, 0, 0.27),
        0 30px 50px -30px rgba(0, 0, 0, 0.3);
    }
  
    &:hover h2,
    &:focus h2 {
      color: var(--accent);
    }
  
    &[data-a11y="true"]:focus::after {
      content: "";
      position: absolute;
      left: -1.5%;
      top: -2%;
      width: 103%;
      height: 104%;
      border: 3px solid var(--accent);
      background: rgba(255, 255, 255, 0.01);
      border-radius: 5px;
    }
  
    /*PHABLET*/
    @media screen and (max-width: $phablet){
      &:hover .image-container {
        transform: none;
        box-shadow: initial;
      }
  
      &:active {
        transform: scale(0.97) translateY(3px);
      }
    }
}