/****************************HERO****************************/
.author-hero{
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 35px auto 110px;
}

.author-hero-image{
    position: relative;
    z-index: 1;
    height: 164px;
    width: 164px;
    margin-bottom: 35px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(background-color);
    -webkit-box-shadow: 0px 15.619px 31.2381px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 15.619px 31.2381px rgba(0, 0, 0, 0.15);
    border: 2px solid var(--card);

    img{
        width: 100%;
    }
  
    /*TABLET*/
    @media screen and (max-width: $tablet){
        width: 146px;
        height: 146px;
    }

    /*PHABLET*/
    @media screen and (max-width: $phablet){
        width: 136px;
        height: 136px;
        margin-bottom: 25px;
    }
}

.author-heading{
    font-size: 38px;
    font-family: var(--sanserif);
    color: var(--primary);
    margin-bottom: 15px;
    font-weight: 600;
    text-align: center;
}

.author-subheading{
    margin: 0 auto;
    max-width: 450px;
    color: var(--grey);
    font-size: 18px;
    font-family: var(--sanserif);
    line-height: 1.4;
    text-align: center;

    /*PHABLET*/
    @media screen and (max-width: $phablet){
        font-size: 14px;
    }
}

.author-social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 35px;
    width: 100%;
  
    /*PHABLET*/
    @media screen and (max-width: $phablet){
        font-size: 14px;
    }
}

/****************************CONTENT****************************/
.authors-gradient{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 590px;
    z-index: 0;
    pointer-events: none;
    background: var(--gradient);
    -webkit-transition: var(--color-mode-transition);
    -o-transition: var(--color-mode-transition);
    transition: var(--color-mode-transition);
}