.bio-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: -10px;
}

.bio-link{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  &:hover{
    text-decoration: none;
  }
}

.bio-avatar{
  display: block;
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.25);
  margin-right: 16px;
  margin: 10px 26px 10px 10px;
}

.bio-avatar::after {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.bio-avatar[data-a11y="true"]:focus::after {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  width: 50px;
  height: 50px;
  border: 2px solid var(--accent);
}

.bio-avatar-inner{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.25);
  margin-right: 16px;
  overflow: hidden;
}

.bio-text{
  margin-bottom: 0;
  max-width: 430px;
  font-size: 14px;
  line-height: 1.45;
  color: var(--grey);
}

.author-avatar{
  width: 100%;
}