blockquote{
    -webkit-transition: var(--color-mode-transition);
    -o-transition: var(--color-mode-transition);
    transition: var(--color-mode-transition);
    margin: 15px auto 50px;
    color: var(--articleText);
    font-family: var(--serif);
    font-style: italic;
}

blockquote > p {
  font-family: var(--serif);
  max-width: 880px !important;
  padding-right: 100px;
  padding-bottom: 0;
  width: 100%;
  margin: 0 auto;
  font-size: 36px;
  line-height: 1.32;
  font-weight: bold;
}

@media screen and (max-width: 735px) {
    blockquote{
        margin: 10px auto 35px;
        font-size: 26px;
        padding: 0 180px;
    }
}

@media screen and (max-width: 540px) {
    blockquote{
        font-size: 36px;
        padding: 0 20px 0 40px;
    }
}