.css-utuebs {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 4rem;
}

.css-1gyv9w8 {
    padding-top: 50px;
    position: relative;
    z-index: 100;
    padding-top: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.css-3dpmpl {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    left: 0;
}

.css-10l5b14 {
    position: absolute;
    display: inline-block;
    opacity: 0;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
}

.css-zg0rk7 {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid var(--theme-ui-colors-primary,#000);
    background: var(--theme-ui-colors-primary,#000);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
    overflow: hidden;
}

.css-1k5uyy5 {
    position: absolute;
    right: -1px;
    top: -8px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 0;
    background: var(--theme-ui-colors-background,#fafafa);
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
    opacity: 1;
    -webkit-transition: background 0.25s var(--ease-in-out-quad),color 0.25s var(--ease-in-out-quad),-webkit-transform 0.45s ease;
    -webkit-transition: background 0.25s var(--ease-in-out-quad),color 0.25s var(--ease-in-out-quad),transform 0.45s ease;
    transition: background 0.25s var(--ease-in-out-quad),color 0.25s var(--ease-in-out-quad),transform 0.45s ease;
}

.css-16kvgc5{
    display: none;
}
