.articles-gradient{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 590px;
    z-index: 0;
    pointer-events: none;
    background: var(--gradient);
    transition: var(--color-mode-transition);
}

.articles-paginator{
    margin-top: 95px;
}