.image-placeholder{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    background: #ccc;
    color: #898989;
    font-size: 32px;
    font-weight: 600;
}

.image-zoom{
    display: block;
    margin: 0 auto;
    width: 100%;
}

@media screen and (max-width: 540px){
    .image-placeholder{
        font-size: 28px;
    }
}