#logo-desktop{
    .change-fill{
        fill: var(--primary);
    }
}

#logo-mobile{
    path{
        fill: var(--primary);
    }
}

@media screen and (max-width: 735px){
    .Logo__Desktop {
        display: none;
    }
    .Logo__Mobile{
        display: block;
    }
}