/*************************ASIDE*************************/
.aside-container{
    display: flex;
    margin: 0 auto;
    max-width: 1140px;
    z-index: 100;
    position: sticky;
    top: 30%;
    animation-duration: 1s;
  
    /*DESKTOP MEDIUM*/
    @media screen and (max-width: $desktop_medium){
        display: none;
    }
}

@keyframes progress-fade-in {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes progress-fade-out {
    from {opacity: 0;}
    to {opacity: 1;}
}

.aside-align{
    position: fixed;
    display: flex;
    transform: translateY(0px);
    top: 0;
    align-items: center;
    height: 100vh;
    z-index: 3;
  
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s linear, visibility 0.4s linear;
}

.overlap-container{
    user-select: none;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.25s;
}

/*************************PROGRESS*************************/
.progress-container{
    position: relative;
    outline: none;
    user-select: none;
}

.track-line{
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(88vh - 40px);
    max-height: 425px;
    width: 1px;
    background-color: var(--track);
    opacity: 0.6;
    overflow: hidden;
}

.progress-line{
    position: absolute;
    height: 100%;
    top: -100%;
    width: 1px;
    background-color: var(--progress);
    left: 0;
}