.section{
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 4rem;

    /*DESKTOP*/
    @media screen and (max-width: 1070px){
        max-width: 850px;
    }

    /*PHABLET*/
    @media screen and (max-width: 540px){
        max-width: 100%;
        padding: 2rem;;
    }

    p{
        /*TABLET*/
        @media screen and (max-width: 735px){
            padding: 0 4rem;
            max-width: 567px;
        }
    }

    
}

.narrow{
    p{
        /*TABLET*/
        @media screen and (max-width: 735px){
            padding: 0 2rem;
            max-width: 527px;
        }
    }
    
}