<!DOCTYPE html>
<html dir='ltr' lang='id'>

{{ partial "head/head.html" . }}

<body id="mainBody" class="container mx-auto p-5 dark:bg-zinc-900 dark:text-gray-50">

    <div class="w-full mx-auto">

        {{ partial "header.html" . }}

        {{ block "main" . }}
        
        {{ end }}
        
        {{ partial "footer.html" . }}

    </div>

    {{ $script := resources.Get "js/initColors.js" }}
    <script inline async src="{{ $script.RelPermalink }}"></script>
    
    {{ $script := resources.Get "js/searchToggle.js" }}
    {{ $minjs := $script | resources.Minify }}
    <script inline async src="{{ $minjs.RelPermalink }}"></script>
    
    {{ $script := resources.Get "js/toggleColors.js" }}
    {{ $minjs := $script | resources.Minify }}
    <script inline async src="{{ $minjs.RelPermalink }}"></script>
    
    {{ $script := resources.Get "js/copyUrl.js" }}
    {{ $minjs := $script | resources.Minify }}
    <script inline async src="{{ $minjs.RelPermalink }}"></script>

</body>

</html>