<!DOCTYPE html>
<html>

<head>
    {{ partial "head/head.html" . }}
    {{ partial "head/extra_styles.html" . }}
</head>

<body class="line-numbers">

    {{ $script := resources.Get "js/initColors.js" }}
    <script src="{{ $script.RelPermalink }}"></script>

    <div class="layout-styled">

        {{ partial "header.html" . }}

        {{ block "main" . }}
        
        {{ end }}
        
        {{ partial "footer.html" . }}

    </div>

    {{ $script := resources.Get "js/prism.js" }}
    <script src="{{ $script.RelPermalink }}"></script>
</body>

</html>