html, body {
  padding:0;
  margin:0;
}
ol li::before {
    margin-left: -3rem;
    left:0rem;
    width: 2.8rem;
    top: -.1rem;
    position: relative;
}
ol li ul li::before {
    display: inline-block;
    content: "" !important;
    left: -3rem;
    top: .75rem;
    width: 8px !important;
    border-radius: 100%;
    font-size: 2rem;
  }
ol li ul li ul li::before {
    display: inline-block;
    content: "" !important;
    left: -3rem;
    top: .75rem;
    width: 8px !important;
    font-size: 2rem;
    background:#fff;
    border: 1px solid #000;
  }
  .narrow ol li ul li{
    margin-left: 3rem;
  }
  .article-hero-image {
    position: relative;
  }
  .aside-container {
    position: fixed;
  }
  .post-content {
    padding-top: 100px;
  }
  .navigation ul li::before {
    display: none;
  }
  .navigation ul li {
    display: inline;
    margin-left:10px;
  }
.muted{
  color:var(--grey)
}
.social-icon-outer{
  width: inherit;
  min-width: inherit;
}
  @media screen and (max-width:880px){
}