html, body {
  padding:0;
  margin:0;
}
ol li::before {
    margin-left: -3rem;
    left:0rem;
    width: 2.8rem;
    top: -.1rem;
    position: relative;
}
ul li::before {
  border-radius: 3px;
}
ol li ul li::before {
    display: inline-block;
    content: "" !important;
    left: -3rem;
    top: -.3rem;
    width: 8px !important;
    border-radius: 100%;
    font-size: 2rem;
    margin:0 -15px 0 0;
  }
ol li ul li ul li::before {
    display: inline-block;
    content: "" !important;
    left: -3rem;
    top: -.2rem;
    width: 8px !important;
    font-size: 2rem;
    background:var(--background-color);
    border: 1px solid var(--articleText);
    margin:0 -15px 0 0;
  }
  ol li ul li ul li ul li::before {
    border-radius: 0;
  }

  .narrow ol li ul li{
    margin-left: 4.5rem;
  }
  .article-hero-image {
    position: relative;
  }
  .aside-container {
    position: fixed;
  }
  .post-content {
    padding-top: 100px;
  }
  .navigation ul li::before {
    display: none;
  }
  .navigation ul li {
    display: inline;
    margin-left:10px;
  }
  .navigation ul li a{
    color: var(--grey);
    text-decoration: none;
  }
  .navigation ul li a:hover{
    color: var(--primary);
  }
.social-icon-outer{
  width: inherit;
  min-width: inherit;
}
.series-badge{
  font-weight: 700;
  font-size:110%;
}
kbd {
  background:var(--background-color);
  border: 1px solid #ccc;
  padding: 5px 7px 6px;
  border-radius: 5px;
  border-bottom: 2px solid #bbb ;
  font-size: 11px;
}
kbd > kbd {
  padding: 2px 7px;
}
.download {
  font-weight: 600;
  border-radius: 5px;
  padding: 13px 15px 10px 60px;
  border: 1px solid var(--accent);
  color:var(--accent);
  text-decoration: none !important;
  z-index: 1;
  transition: var(--color-mode-transition);
}
.download:before{
  position:absolute;
  content:"";
  mask:url(/images/download.svg);
  height:24px;
  width:24px;
  mask-size: cover;
  margin-left:-45px;
  background-color:var(--accent);
  margin-top: 2px;
  transition: all .2s ease-in-out;
}
.separator::before{
  position: absolute;
  content:"";
  height: 30px;
  width: 30px;
  margin-left: -10px;
  border-left: 1px solid var(--accent);
  z-index: 9;
}
.white {
  fill: var(--accent);
}
.download:hover{
  background-color: var(--accent);
  color: var(--background-color);
}
.download:hover.download:before{
  background-color: var(--background-color);
  width: 32px;
  height: 32px;
  margin-top:-2px;
}
.bacajuga{
  font-weight: 600;
  padding: 15px 25px 11px;
  margin-bottom: .5rem;
  position: relative;
  border:1px solid var(--grey);
  border-radius: 5px;

}
.picture{
  margin: 3rem 0;
}
.lazyload{
  background: #eee url(/images/logo_bw.svg) no-repeat center;
  background-size: 35%;
  min-height: 300px;
  display: inline-block;
  border-radius:5px ;
  overflow: hidden;
}
blockquote{
  margin:0 120px 60px;
}
code {
  background-color: #ddd;
  color: #080808;
  padding: 2px 6px;
  border-radius: 3px;
    
}
p code,li code {
  font-size: 14px;
}
pre code{
  background-color: transparent;
  color: inherit;
}

.highlight pre {
  padding: 20px 35px;
  overflow: auto;
  width: 100%;
  max-width: 944px;
  margin: 0 auto 35px;
  border-radius:5px;
  color:#e6db74;
  font-size: 12px;
}
pre code span {
  background: transparent !important;
}
.list-arsip ul li::before{
  display: none;
}
.list-arsip li {
  position: relative;
  float: left;
  margin-right: 1rem;
  background-color: var(--track);
  display: inline-block;
  padding: 2px 3px 2px 7px;
  margin-bottom: 10px;
  font-size: 13px;
  opacity: 0.7;
  border-radius: 5px;
}
.list-arsip ul li span{
  background-color: var(--articleText);
  color:var(--background-color);
  padding: 5px 7px 1px;
  font-size: 12px;
  position: relative;
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px;
}
.list-arsip li a{
  text-decoration: none;
  color:var(--primary)
}
.list-arsip li:hover{
  opacity: 1;
}
.article-hero-heading{
  margin-top: 0px;
}
.article-hero-image img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-49.95%, -50%);
}
.article-hero-image-single{
  position: relative;
  margin:0 auto;
  box-shadow:0 30px 60px -10px rgba(0,0,0,.2),0 18px 36px -18px rgba(0,0,0,.22);
  max-width: 944px;
}
.article-hero-image-single img{
  width:100%;
}
.image-container{transform:translateY(0px);}
.article-link:hover .image-container,.article-link:focus .image-container{transform:translateY(0px);}

.icon-wrapper{
  transform: scale(1.1);
}
.nav-controls {
  right: 31px;
}
.article-title,.article-hero-heading {
  word-wrap: break-word;
}
.iklan{
  margin:0 auto;
  max-width: 944px;
  margin-bottom: 40px;
}
.footnotes hr {
  border-bottom: 1px solid var(--grey);
  margin: 25px auto;
  opacity:.3;
}
  @media screen and (max-width:880px){
    .download{
      font-size: 13px;
    }
    .download:hover.download:before{
      width: 24px;
      height: 24px;
    }
.article-title,.article-hero-heading {
  font-size:20px
}
    .separator::before{
      height: 20px;
    }
    .download:before{
      height: 20px;
      width: 20px;
      margin-left: -42px;
      margin-top: 0px;
    }
    .download:hover.download:before{
      width: 24px;
      height: 24px;
      margin-top:3px;
    }
    .lazyload{
     background-size: 20%;      
      min-height: 150px;
    }
    blockquote{
      margin:0 30px 30px;
    }
    .article-header{
      padding:0;
    }
    .navigation ul li {
      padding: 0 10px;
      margin-left: 0;
    }
    .navigation{
      text-align: center;
    }
    .navigation ul{
      padding-left:0;
    }
    .iklan{
      height: inherit;
    }
}
@media screen and (max-width:600px){
  .section{
    padding:2.1rem;
  }
  .article-hero-image img {
    transform: translate(-50.1%, -50%);
}
.navigation {
  display: inline-block;
  overflow: auto;
  width: 100%;
}
}
@media screen and (max-width:480px){
  .lazyload{
    min-height: 70px;
  }
  blockquote{
    margin:0 20px 20px;
    font-size: 14px;
  }
  .download{
    font-size: 10px;
  }
 .download:before{
    margin-top: 5px;
  }
  .separator::before{
    margin-top: 5px;
  }
}