html, body {
  padding:0;
  margin:0;
}
ol li::before {
    margin-left: -3rem;
    left:0rem;
    width: 2.8rem;
    top: -.1rem;
    position: relative;
}
ol li ul li::before {
    display: inline-block;
    content: "" !important;
    left: -3rem;
    top: -.3rem;
    width: 8px !important;
    border-radius: 100%;
    font-size: 2rem;
    margin:0 -15px 0 0;
  }
ol li ul li ul li::before {
    display: inline-block;
    content: "" !important;
    left: -3rem;
    top: -.2rem;
    width: 8px !important;
    font-size: 2rem;
    background:var(--background-color);
    border: 1px solid var(--articleText);
    margin:0 -15px 0 0;
  }
  ol li ul li ul li ul li::before {
    border-radius: 0;
  }

  .narrow ol li ul li{
    margin-left: 4.5rem;
  }
  .article-hero-image {
    position: relative;
  }
  .aside-container {
    position: fixed;
  }
  .post-content {
    padding-top: 100px;
  }
  .navigation ul li::before {
    display: none;
  }
  .navigation ul li {
    display: inline;
    margin-left:10px;
  }
.muted{
  color:var(--grey)
}
.social-icon-outer{
  width: inherit;
  min-width: inherit;
}
kbd {
  background:var(--background-color);
  border: 1px solid #ccc;
  padding: 5px 7px 6px;
  border-radius: 5px;
  border-bottom: 2px solid #bbb ;
  font-size: 11px;
}
kbd > kbd {
  padding: 2px 7px;
}
.download {
  font-weight: 600;
  border-radius: 5px;
  padding: 13px 15px 10px 60px;
  border: 1px solid var(--accent);
  color:var(--accent);
  text-decoration: none !important;
  z-index: 1;
  transition: var(--color-mode-transition);
}
.download:before{
  position:absolute;
  content:"";
  mask:url(/images/download.svg);
  height:24px;
  width:24px;
  mask-size: cover;
  margin-left:-45px;
  background-color:var(--accent);
  margin-top: 2px;
  transition: all .2s ease-in-out;
}
.separator::before{
  position: absolute;
  content:"";
  height: 30px;
  width: 30px;
  margin-left: -10px;
  border-left: 1px solid var(--accent);
  z-index: 9;
}
.white {
  fill: var(--accent);
}
.download:hover{
  background-color: var(--accent);
  color: var(--background-color);
}
.download:hover.download:before{
  background-color: var(--background-color);
  width: 32px;
  height: 32px;
  margin-top:-2px;
}
.bacajuga{
  font-weight: 600;
  padding: 15px 25px 11px;
  margin-bottom: .5rem;
  position: relative;
  border:1px solid var(--grey);
  border-radius: 5px;

}
.picture{
  margin: 3rem 0;
}
.lazyload{
  background: #eee url(/images/logo_bw.svg) no-repeat center;
  background-size: 35%;
  min-height: 300px;
  display: inline-block;
  border-radius:5px ;
  overflow: hidden;
}
code {
  background-color: #ddd;
  color: #000;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 14px;

}
  @media screen and (max-width:880px){
    .download{
      font-size: 13px;
    }
    .separator::before{
      height: 20px;
    }
    .download:before{
      height: 20px;
      width: 20px;
      margin-left: -42px;
      margin-top: 0px;
    }
    .download:hover.download:before{
      width: 28px;
      height: 28px;
      margin-top:-4px;
    }
    .picture .lazyload{
      height: inherit !important;
    }
}