<section class="section nartrow">
    <div id="articlesList" class="articles-list-container show-details">
        {{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") }}
        {{ $scratch :=newScratch }}
        {{ $scratch.Set "biggerFirst" true }}
        {{ $scratch.Set "biggerPlaced" false }}
        {{ range $index, $article := $paginator.Pages }}
            {{ $counter := mod $index 2 }}
            {{ if eq $counter 0 }}
                <div class="post-row">
            {{ end }}
            <a href="{{ $article.Permalink }}" class="article-link" 
            {{ if and (eq ($scratch.Get "biggerFirst") true) (eq ($scratch.Get "biggerPlaced") false) }}
              {{ if eq $counter 0 }}
                id="article-link-bigger"
                {{ $scratch.Set "biggerPlaced" true }}
              {{ end }}
            {{ else if and (eq ($scratch.Get "biggerFirst") false) (eq ($scratch.Get "biggerPlaced") false) }}
              {{ if ne $counter 0 }}
                id="article-link-bigger"
                {{ $scratch.Set "biggerPlaced" true }}
              {{ end }}
            {{ end }}>
              <div class="article-data-outer">
                <div class="image-container">
                  <img src="{{ $article.Params.hero }}" class="article-image" /> 
                </div>
                <div class="article-data">
                  <h2 class="article-title">
                    {{ $article.Params.title }}
                  </h2>
                  <p class="article-excerpt">
                    {{ $article.Params.excerpt }}
                  </p>
                  <div class="article-metadata">
                    {{ $article.Date | dateFormat "January 1, 2019" }}{{ with $article.Params.timeToRead }} · {{ $article.Params.timeToRead }} min read{{ end }}
                  </div>
                </div>
              </div>
            </a>
            {{ $counter := mod (add $index 1) 2 }}
            {{ $len := (where .Pages "Type" "posts") }}
            {{ if or (eq $counter 0) (eq (add $index 1) $len) }}
                </div>
                {{ $scratch.Set "biggerPlaced" false }}
                {{ if eq ($scratch.Get "biggerFirst") true }}
                  {{ $scratch.Set "biggerFirst" false }}
                {{ else }}
                  {{ $scratch.Set "biggerFirst" true }}
                {{ end }}
            {{ end }}
        {{ end }}
    </div>
    {{ partial "paginator/paginator.html" . }}
</section>