<section class="section nartrow">
    <div id="articlesList" class="articles-list-container show-details">
        {{ $posts := partialCached "func/GetArticles" . "articles" }}
        {{ $paginator := .Paginate $posts }}
        {{ $biggerFirst := true }}
        {{ $biggerPlaced := false }}
        {{ range $index, $article := $paginator.Pages }}
            {{ $counter := mod $index 2 }}
            {{ if not $counter }}
                <div class="post-row grid grid-cols-1 md:grid-cols-5 gap-6">
            {{ end }}
            <a href="{{ $article.RelPermalink }}" class="article-link md:col-span-2 mb-5 md:mb-10 group "
            {{ if and (eq ($biggerFirst) true) (eq ($biggerPlaced) false) }}
              {{ if eq $counter 0 }}
                id="bigger-link"
                {{ $biggerPlaced = true }}
              {{ end }}
            {{ else if and (not $biggerFirst) (not $biggerPlaced) }}
              {{ if ne $counter 0 }}
                id="bigger-link"
                {{ $biggerPlaced = true }}
              {{ end }}
            {{ end }}>
              <div class="article-data-outer">

                <script type="application/ld+json">
                  {
                    "@context": "https://schema.org",
                    "@type": "BlogPosting",
                    "mainEntityOfPage": {
                      "@type": "WebPage",
                      "@id": "{{ .Permalink }}"
                    },
                    "author": {
                      "@type": "Person",
                      {{- with $article.Params.authors -}}
                      {{ $name := . }}
                      "name": "{{ strings.TrimPrefix "[" (index $name 0)  }}"
                      {{- end -}}
                    },
                    "headline": "{{ $article.Title }}",
                    {{- with $article.Params.hero -}}
                    {{- $images := . -}}
                    {{- with $article.Site.GetPage "section" "upload" -}}
                    {{- with .Resources.GetMatch (strings.TrimPrefix "/upload/" (index $images 0)) -}}                      
                     "image": {
                      "@type": "ImageObject","url": "{{ .Permalink }}",
                      "height": 768,
                      "width": 1366},
                    {{- end -}}
                    {{- end -}}
                    {{- end -}}
                    "datePublished": "{{ $article.Date.Format "2006-01-02" }}",
                  }
                  </script>

                <div class="image-container overflow-hidden shadow-2xl shadow-zinc-600/70 group-hover:shadow-zinc-600  transition-all duration-300">

                  {{- with $article.Params.hero -}}
            {{- $images := . -}}
            {{- with $article.Site.GetPage "section" "upload" -}}
                {{- with .Resources.GetMatch (strings.TrimPrefix "/upload/" (index $images 0)) -}}
                    {{- $image1 := .Resize "667x q100" -}}
                    {{- $image2 := .Resize "500x q90" -}}
                    {{- $image3 := .Resize "375x" -}}
                    <div class="article-hero-image h-[196px] md:h-[280px] relative overflow-hidden" id="ArticleImage__Hero">
                            <img loading="lazy" class="article-image absolute  w-full left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2                            
                            {{ if and ($biggerPlaced) (not $biggerFirst) }}
                            scale-100
                            {{ else if and ($biggerPlaced) (ne $counter 0) }}
                            scale-[1.4]
                            {{ else if and (not $biggerFirst) (not $biggerPlaced) }}
                            scale-[1.4]
                            {{ end }}
                            " srcset="
                            {{ $image3.RelPermalink }} 375w,
                            {{ $image2.RelPermalink }} 800w,
                            {{ $image1.RelPermalink }} 1366w,  
                            " src="{{ $image1.RelPermalink }}" alt="{{ $article.Title }}">
                    </div>
                {{- end -}}
            {{- end -}}
        {{- end -}}
        
                </div>
                <div class="article-data py-3 md:py-6">
                  <h2 class="article-title font-serif font-bold text-xl md:text-2xl">
                    {{ $article.Params.title }}
                  </h2>
                  <p class="article-excerpt prose prose-sm md:prose-base py-3 prose-gray dark:prose-invert">
                    {{ if $article.Params.excerpt }}
                    {{ $article.Params.excerpt }}
                    {{ else }}
                    {{ $article.Summary }}
                    {{ end }}
                  </p>
                  <div class="article-metadata text-sm md:text-base text-gray-400 font-bold">
                    {{ $article.Date.Format "January 2, 2006" }} • {{ $article.ReadingTime }} min read
                  </div>
                </div>
              </div>
            </a>
            {{ $counter := mod (add $index 1) 2 }}
            {{ $len := (where .Pages "Type" "posts") }}
            {{ if or (eq $counter 0) (eq (add $index 1) $len) }}
                </div>
                {{ $biggerPlaced = false }}
                {{ if $biggerFirst }}
                  {{ $biggerFirst = false }}
                {{ else }}
                  {{ $biggerFirst = true }}
                {{ end }}
            {{ end }}
        {{ end }}
    </div>
    {{ partial "paginator/paginator.html" . }}
</section>
