   {{ $page := . }}
   <div class="bio-container">
        {{ range site.Taxonomies.authors }}
            {{ with .Page }}
                {{ if .Params.featured }}
                    <a href="{{ .RelPermalink }}" class="bio-link flex items-center text-sm text-gray-500 max-w-[500px]">
                        {{ with .Params.avatar }}
                            <div class="bio-avatar rounded-full border border-gray-400 absolute w-[45px]">
                                <div class="bio-avatar-inner p-1">

                                    {{- $images := . -}}
                        {{- with $page.Site.GetPage "section" "upload" -}}
                            {{- with .Resources.GetMatch (strings.TrimPrefix "/upload/" (index $images 0)) -}}
                                {{- $image := .Resize "40x40" -}}
    
                                        <img class="rounded-full" data-src="{{ $image.RelPermalink }}" src="{{ $image.RelPermalink }}">
                
                            {{- end -}}
                        {{- end -}}

                                </div>
                            </div>
                        {{ end }}
                        {{ with .Params.bio }}
                            <p class="bio-text  ml-[65px]">{{ . }}</p>
                        {{ end }}
                    </a>
                {{ end }}
            {{ end }}
        {{ end }}
    </div>