<div id="disqus_thread" style="max-width: 944px;margin: 0 auto;">
	<div id="disqus_empty"></div>
</div>
<script type="text/javascript">

function load_disqus( disqus_shortname ) {
  
    var is_disqus_empty = document.getElementById('disqus_empty'),
        disqus_target   = document.getElementById('disqus_thread'),
        disqus_embed    = document.createElement('script'),
        disqus_hook     = (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]);
  
    if( disqus_target && is_disqus_empty ) {
      disqus_embed.type = 'text/javascript';
      disqus_embed.async = true;
      disqus_embed.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      disqus_hook.appendChild(disqus_embed);
      is_disqus_empty.remove();
    }
  }
  
  window.addEventListener('scroll', function(e) {
    var currentScroll = document.scrollingElement.scrollTop;
    var disqus_target = document.getElementById('disqus_thread');
  
    if( disqus_target && (currentScroll > disqus_target.getBoundingClientRect().top - 150) ) {
      load_disqus('{{ .Site.DisqusShortname }}');
      console.log('Disqus loaded.');
    }
  }, false);

</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>