<Section class="md:p-12 md:pb-0">
  <div class="flex justify-between">
    <a class="logo-link" href="/" title="{{ .Site.Title }}">
      {{ partial "icons/ui/logo.html" . }}
      <span class="hidden">Navigate back to the homepage</span>
    </a>

    <div class="nav-controls flex flex-row gap-7">
      <div class="search hidden" id="search-form">
        <form method="GET" action="/search">
          <label for="q" hidden>Search here</label>
          <input type="search" name="q" placeholder="Ketik kata kunci disini..." required>
        </form>
      </div>

      <button class="text-2xl" id="search-toggle" onclick="searchToggle()"
        aria-label="Toggle Search Bar">
        <i class="bi bi-x-lg hidden" id="closeIcon"></i>
        <i class="bi bi-search" id="searchIcon"></i>
      </button>


      <button id="themeColorButton" class="icon-wrapper" aria-label="Switch Color Mode" type="button">
        <div id="sunRays" class="sun-rays text-2xl hidden">
          <i class="bi bi-brightness-high-fill"></i>
        </div>        
        <div id="moonMask" class="moon-mask text-2xl">
          <i class="bi bi-moon-stars-fill"></i>
        </div>
      </button>
    </div>
  </div>
</Section>