    <div class="bio-container">
        {{ range $taxonomy := .Site.Taxonomies.Series }}
            {{ $taxonomy }}<hr />
        {{ end }}
        {{ range $author := where .Site.RegularPages "Type" "authors" }}
        {{ if eq $author.Params.featured true }}
            <a href="{{ $author.Permalink }}" class="bio-link">
                {{ if $author.Params.avatar }}
                    <div class="bio-avatar">
                        <div class="bio-avatar-inner">
                          <img class="author-avatar" src="{{ $author.Params.avatar }}" />
                        </div>
                    </div>
                {{ end }}
                <p class="bio-text">{{ $author.Params.bio }}</p>
            </a>
        {{ end }}
        {{ end }}
    </div>