<section class="section narrow">
    <div class="article-hero">
        <header class="article-header">
            <h1 class="article-hero-heading">{{ .Page.Params.Title }}</h1>
            <div class="article-hero-subtitle">
                <div class="article-meta">
                    {{ partial "article/article_authors.html" . }}
                    {{ .Page.Date | dateFormat "January 1, 2019" }}
                </div>
            </div>
        </header>
        {{ if .Page.Params.hero }}
        <div class="article-hero-image" id="ArticleImage__Hero">
            <img src="{{ .Page.Params.hero }}">
        </div>
        {{ end }}
    </div>
</section>