{{ $page := . }}
<section id="articleHero">
    <div class="article-hero">
        <header class="mx-auto my-10 md:my-20 md:w-1/2">
            {{- with .Params.series -}}
            {{- range . -}}
            <a class="font-bold text-indigo-500 text-xl" href="{{ "/series/" | relLangURL }}{{ . | urlize }}">
                {{ . }}
            </a>
            {{- end -}}
            {{- end -}}
            <h1 class="font-serif font-bold text-3xl md:text-5xl">{{ .Page.Params.Title }}</h1>
            <div class="mt-3">
                <div class="flex flex-col md:flex-row md:items-center">
                    {{ partial "article/authors.html" . }}
                    <span class="post-date text-sm md:text-base mt-3 md:mt-0">{{ .Page.Date.Format "January 2, 2006" }}
                        • {{ .ReadingTime }} min read
                    </span>
                </div>
            </div>
        </header>

        <div class="mx-auto md:w-2/3 overflow-hidden" id="ArticleImage__Hero">
            <!--{{ partial "sharebutton/index.html" . }}-->
            {{- with $page.Params.hero -}}
            {{- $images := . -}}
            {{- with $page.Site.GetPage "section" "upload" -}}
            {{- with .Resources.GetMatch (strings.TrimPrefix "/upload/" (index $images 0)) -}}
            {{- $image1 := .Resize "944x q100" -}}
            {{- $image2 := .Resize "700x" -}}
            {{- $image3 := .Resize "300x" -}}
            <picture class="w-full">
                <source media="(min-width:1200px)" srcset="{{ $image1.RelPermalink }}">
                <source media="(min-width:500px)" srcset="{{ $image2.RelPermalink }}">
                <img class="w-full" loading="lazy" src="{{ $image3.RelPermalink }}" alt="{{ $page.Title }}">
            </picture>
            {{- end -}}
            {{- end -}}
            {{- end -}}
        </div>
    </div>
    {{ if $page.Params.imgattr}}
    <p class="text-center text-gray-500"><a href="{{ $page.Params.imgattrlink }}" title="{{ $page.Params.imgattr }}">{{
            $page.Params.imgattr }}</a></p>
    {{ end }}
</section>