{{ $page := . }}
<section id="articleHero" class="section narrow">
    <div class="article-hero">
        <header class="article-header">
            {{- with .Params.series -}}
    {{- range . -}}
        <a class="series-badge" href="{{ "/series/" | relLangURL }}{{ . | urlize }}">
            {{ . }} 
        </a>
    {{- end -}}
{{- end -}}
            <h1 class="article-hero-heading">{{ .Page.Params.Title }}</h1>
            <div class="article-hero-subtitle">
                <div class="article-meta">
                    {{ partial "article/authors.html" . }}
                    {{ .Page.Date.Format "January 2, 2006" }}
                    • {{ .ReadingTime }} min read
                </div>
            </div>
        </header>

            {{- with $page.Params.hero -}}
            {{- $images := . -}}
            {{- with $page.Site.GetPage "section" "upload" -}}
                {{- with .Resources.GetMatch (strings.TrimPrefix "/upload/" (index $images 0)) -}}
                    {{- $image := .Resize "944x531" -}}
                    <div class="article-hero-image-single" id="ArticleImage__Hero">
                            <img data-src="{{ $image.RelPermalink }}" src="{{ $image.RelPermalink }}" alt="{{ $page.Title }}">
                    </div>
                {{- end -}}
            {{- end -}}
        {{- end -}}

    </div>
</section>
