<div id="logo-desktop" class="hidden md:flex items-center">
  <svg class="mr-2"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:cc="http://creativecommons.org/ns#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns="http://www.w3.org/2000/svg"
  id="SVGRoot"
  version="1.1"
  viewBox="0 0 48 48"
  height="48px"
  width="48px">
 <defs
    id="defs3986" />
 <metadata
    id="metadata3989">
   <rdf:RDF>
     <cc:Work
        rdf:about="">
       <dc:format>image/svg+xml</dc:format>
       <dc:type
          rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
       <dc:title></dc:title>
     </cc:Work>
   </rdf:RDF>
 </metadata>
 <g
    id="layer1">
   <path
      class="fill-white dark:fill-black"
      id="path867"
      d="M 6.2632325,16.722845 20.623805,25.013926 23.079418,23.596176 8.4289551,15.137728 Z"
      style="stroke:none;stroke-width:1.09347951px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
   <path
      class="fill-white stroke-black dark:fill-black dark:stroke-white"
      id="path4084"
      d="M 46,6.6767065 24.13041,19.30312 v 4.621588 L 46,11.298294 Z"
      style="fill-opacity:1;;stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;paint-order:markers fill stroke" />
   <path
   class="fill-white stroke-black dark:fill-black dark:stroke-white"
      id="path4090"
      d="M 2.2608191,6.6767065 6.2632325,4.365912 24.13041,14.681531 20.127997,16.992326 Z"
      style="stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;paint-order:markers fill stroke" />
   <path
   class="fill-white stroke-black dark:fill-black dark:stroke-white"
      id="path4092"
      d="M 46,6.6767065 41.997586,4.365912 20.127997,16.992326 24.13041,19.30312 Z"
      style="stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;paint-order:markers fill stroke" />
   <path
      class="fill-white stroke-black dark:fill-black dark:stroke-white"
      id="path4106"
      d="M 20.127525,43.483232 2.2608191,33.167885 V 28.54684 L 20.127525,38.862187 Z"
      style="fill-opacity:1;stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;paint-order:markers fill stroke" />
   <path
      class="fill-white stroke-black dark:fill-black dark:stroke-white"
      id="path4116"
      d="m 24.13041,27.307401 v 18.486897 l 4.001941,-2.310522 V 25.099381 Z"
      style="fill-opacity:1;stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;paint-order:markers fill stroke" />
   <path
      class="fill-white stroke-black dark:fill-black dark:stroke-white"
      id="path4122"
      d="m 20.127525,24.743172 v 18.74006 l 4.002885,2.311066 V 22.432106 Z"
      style="fill-opacity:1;stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;paint-order:markers fill stroke" />
   <path
      class="fill-white stroke-black dark:fill-black dark:stroke-white"
      id="path4124"
      d="m 2.2608191,28.54684 4.0028841,-2.311066 13.8638218,8.004282 v 4.622132 z"
      style="stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;paint-order:markers fill stroke" />
   <path
   class="fill-white stroke-black dark:fill-black dark:stroke-white"
      id="path4084-6"
      d="M 45.999999,19.30312 28.132351,29.619011 v 4.621588 L 45.999999,23.924708 Z"
      style="stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;paint-order:markers fill stroke" />
   <path
   class="fill-white stroke-black dark:fill-black dark:stroke-white"
      id="path4082-7"
      d="m 6.2632325,16.722845 v 4.89107 l 13.8647645,8.004825 -4.72e-4,-4.875568 z"
      style="fill-opacity:1;stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;paint-order:markers fill stroke" />
   <path
   class="fill-white stroke-black dark:fill-black dark:stroke-white"
      id="path4082"
      d="m 2.2608191,6.6767065 v 4.6215875 l 17.8671779,10.315621 -4.72e-4,-4.621861 v 5.44e-4 z"
      style="stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;paint-order:markers fill stroke" />
   <path
      class="fill-white stroke-black dark:fill-black dark:stroke-white"
      id="path4122-3"
      d="m 2.2608191,11.298294 v 8.004826 l 4.0024134,2.310795 v -8.004826 z"
      style="stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;paint-order:markers fill stroke" />
   <path
      id="path5017"
      d="m 6.2632325,16.722845 2.696592,-1.556878 -2.696592,-1.556878 z"
      style="stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1" />
   <path
      class="fill-white stroke-black dark:fill-black dark:stroke-white"
      id="path5019"
      d="M 20.127525,29.618468 24.13041,27.307401"
      style="stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1" />
   <path
      class="fill-white stroke-black dark:fill-black dark:stroke-white"
      id="path4092-5"
      d="m 45.999999,19.30312 -4.002414,-2.310794 -21.869589,12.626413 4.002412,2.310795 z"
      style="stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;paint-order:markers fill stroke" />
   <path
   class="fill-black stroke-black dark:fill-white dark:stroke-white"
      id="path5052"
      d="m 24.13041,23.924708 -4.002413,-2.310793 -4.72e-4,-4.621861 4.002885,2.311066 z"
      style="stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1" />
   <path
   class="fill-black stroke-black dark:fill-white dark:stroke-white"
      id="path5054"
      d="m 20.127525,24.743172 2.710253,-1.564765 1.292632,-0.746301 v 4.875295 l -4.002885,2.311066 z"
      style="stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1" />
   <path
   class="fill-black stroke-black dark:fill-white dark:stroke-white"
      id="path5056"
      d="m 24.13041,31.929534 4.001941,-2.310523 -4.001941,-2.31161 -4.002413,2.311339 z"
      style="stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1" />
 </g>
</svg>
<span class="text-2xl font-bold">Syahrul Fadli</span>
</div>

<div id="logo-mobile" class="md:hidden">
   <svg class="mr-2"
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   id="SVGRoot"
   version="1.1"
   viewBox="0 0 48 48"
   height="48px"
   width="48px">
  <defs
     id="defs3986" />
  <metadata
     id="metadata3989">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     id="layer1">
    <path
       class="fill-white dark:fill-black"
       id="path867"
       d="M 6.2632325,16.722845 20.623805,25.013926 23.079418,23.596176 8.4289551,15.137728 Z"
       style="stroke:none;stroke-width:1.09347951px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <path
       class="fill-white stroke-black dark:fill-black dark:stroke-white"
       id="path4084"
       d="M 46,6.6767065 24.13041,19.30312 v 4.621588 L 46,11.298294 Z"
       style="fill-opacity:1;;stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;paint-order:markers fill stroke" />
    <path
    class="fill-white stroke-black dark:fill-black dark:stroke-white"
       id="path4090"
       d="M 2.2608191,6.6767065 6.2632325,4.365912 24.13041,14.681531 20.127997,16.992326 Z"
       style="stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;paint-order:markers fill stroke" />
    <path
    class="fill-white stroke-black dark:fill-black dark:stroke-white"
       id="path4092"
       d="M 46,6.6767065 41.997586,4.365912 20.127997,16.992326 24.13041,19.30312 Z"
       style="stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;paint-order:markers fill stroke" />
    <path
       class="fill-white stroke-black dark:fill-black dark:stroke-white"
       id="path4106"
       d="M 20.127525,43.483232 2.2608191,33.167885 V 28.54684 L 20.127525,38.862187 Z"
       style="fill-opacity:1;stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;paint-order:markers fill stroke" />
    <path
       class="fill-white stroke-black dark:fill-black dark:stroke-white"
       id="path4116"
       d="m 24.13041,27.307401 v 18.486897 l 4.001941,-2.310522 V 25.099381 Z"
       style="fill-opacity:1;stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;paint-order:markers fill stroke" />
    <path
       class="fill-white stroke-black dark:fill-black dark:stroke-white"
       id="path4122"
       d="m 20.127525,24.743172 v 18.74006 l 4.002885,2.311066 V 22.432106 Z"
       style="fill-opacity:1;stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;paint-order:markers fill stroke" />
    <path
       class="fill-white stroke-black dark:fill-black dark:stroke-white"
       id="path4124"
       d="m 2.2608191,28.54684 4.0028841,-2.311066 13.8638218,8.004282 v 4.622132 z"
       style="stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;paint-order:markers fill stroke" />
    <path
    class="fill-white stroke-black dark:fill-black dark:stroke-white"
       id="path4084-6"
       d="M 45.999999,19.30312 28.132351,29.619011 v 4.621588 L 45.999999,23.924708 Z"
       style="stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;paint-order:markers fill stroke" />
    <path
    class="fill-white stroke-black dark:fill-black dark:stroke-white"
       id="path4082-7"
       d="m 6.2632325,16.722845 v 4.89107 l 13.8647645,8.004825 -4.72e-4,-4.875568 z"
       style="fill-opacity:1;stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;paint-order:markers fill stroke" />
    <path
    class="fill-white stroke-black dark:fill-black dark:stroke-white"
       id="path4082"
       d="m 2.2608191,6.6767065 v 4.6215875 l 17.8671779,10.315621 -4.72e-4,-4.621861 v 5.44e-4 z"
       style="stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;paint-order:markers fill stroke" />
    <path
       class="fill-white stroke-black dark:fill-black dark:stroke-white"
       id="path4122-3"
       d="m 2.2608191,11.298294 v 8.004826 l 4.0024134,2.310795 v -8.004826 z"
       style="stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;paint-order:markers fill stroke" />
    <path
       id="path5017"
       d="m 6.2632325,16.722845 2.696592,-1.556878 -2.696592,-1.556878 z"
       style="stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1" />
    <path
       class="fill-white stroke-black dark:fill-black dark:stroke-white"
       id="path5019"
       d="M 20.127525,29.618468 24.13041,27.307401"
       style="stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1" />
    <path
       class="fill-white stroke-black dark:fill-black dark:stroke-white"
       id="path4092-5"
       d="m 45.999999,19.30312 -4.002414,-2.310794 -21.869589,12.626413 4.002412,2.310795 z"
       style="stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;paint-order:markers fill stroke" />
    <path
    class="fill-black stroke-black dark:fill-white dark:stroke-white"
       id="path5052"
       d="m 24.13041,23.924708 -4.002413,-2.310793 -4.72e-4,-4.621861 4.002885,2.311066 z"
       style="stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1" />
    <path
    class="fill-black stroke-black dark:fill-white dark:stroke-white"
       id="path5054"
       d="m 20.127525,24.743172 2.710253,-1.564765 1.292632,-0.746301 v 4.875295 l -4.002885,2.311066 z"
       style="stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1" />
    <path
    class="fill-black stroke-black dark:fill-white dark:stroke-white"
       id="path5056"
       d="m 24.13041,31.929534 4.001941,-2.310523 -4.001941,-2.31161 -4.002413,2.311339 z"
       style="stroke-width:1.09347951px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1" />
  </g>
 </svg>
</div>
